[user]
	email = ferruccio.barletta@gmail.com
	name = Ferruccio Barletta

[credential]
	helper = !aws --profile git codecommit credential-helper $@
	UseHttpPath = true

[diff]
	external = difft

[init]
	defaultBranch = main
